@model BeautifulDestinations2._0.Models.DestFavViewModel

@{
    //Layout = null;
}

<!DOCTYPE html>

<html>

<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    @Styles.Render("~/Content/css")
    <br />
    @if (this.User.IsInRole("Admin"))
    {
        <p style="">

            @Html.ActionLink("Create New", "Create", "", new { @class = "btn btn-default" })
        </p>
    }
    <table class="table" id="mytable">
        <thead>
            <tr>
                <th></th>
                <th>

                </th>
                <th>
                    Name
                </th>
                <th>
                    Description
                </th>

                <th>Rating</th>
            </tr>
        </thead>
        @{

        }
        <tbody>
            @foreach (var item in Model.destinations)
            {
                <tr>
                    <td>
                        @{
                            bool isFav = false;
                        }
                        @foreach (var tmp in ViewBag.favs)
                        {
                            if (tmp.Destination == item.id)
                            {
                                isFav = true;
                                break;
                            }
                        }
                        @if (isFav)
                        {
                            <img style="margin-left:8px;width:30px;height:30px;margin-top:25px" src="https://scontent.fskg1-2.fna.fbcdn.net/v/t1.15752-9/83254081_181180609634833_7860049069488472064_n.png?_nc_cat=101&_nc_ohc=otR6EfMhO4UAX-zslw-&_nc_ht=scontent.fskg1-2.fna&oh=12fbd4df3628c7f6b730cd438a07f17e&oe=5ECE5126">
                        }
                        else
                        {
                            using (Html.BeginForm("Create", "Favourites", FormMethod.Post))
                            {
                                @Html.AntiForgeryToken()
                                <div class="form-group" style="display:none">
                                    @Html.LabelFor(model => model.Favourites.Destination, htmlAttributes: new { @class = "control-label col-md-2" })
                                    <div class="col-md-10">
                                        @Html.EditorFor(model => model.Favourites.Destination, new { htmlAttributes = new { @Value = item.id, @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.Favourites.Destination, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <button type="submit" title="Add to favourites" style="background-color:transparent;overflow:hidden;outline:none;border: none;"><img style="width:30px;height:30px;margin-top:25px" src="https://scontent.fskg1-1.fna.fbcdn.net/v/t1.15752-9/84226597_201990460845536_4426734302776000512_n.png?_nc_cat=110&_nc_ohc=dsu79UBq5mQAX-UdjU4&_nc_ht=scontent.fskg1-1.fna&oh=99b057c971710caf0ffd839fd8f543a9&oe=5ECEB88B"></button>
                            }
                        }
                    </td>
                    <td>
                        <img style="width:150px;height:100px" src="@item.ImgUrl" />

                    </td>
                    <td>
                        @Html.ActionLink(item.Name, "Details", new { id = item.id })

                    </td>

                    <td style="text-align:justify">
                        @Html.DisplayFor(modelItem => item.Description)
                    </td>

                    <td style="width:140px;padding-top:30px;">

                        @for (int i = 0; i < Math.Floor(item.overallRating); i++)
                        {
                            <img style="width:20px;height20px" src="https://scontent.fskg1-2.fna.fbcdn.net/v/t1.15752-9/83254081_181180609634833_7860049069488472064_n.png?_nc_cat=101&_nc_ohc=otR6EfMhO4UAX-zslw-&_nc_ht=scontent.fskg1-2.fna&oh=12fbd4df3628c7f6b730cd438a07f17e&oe=5ECE5126" />
                        }
                        @if (item.overallRating * 10 % 10 != 0)
                        {
                            <img style="width:20px;height:20px" src="https://scontent.fskg1-1.fna.fbcdn.net/v/t1.15752-9/83099283_2592225447713931_2029954719803244544_n.png?_nc_cat=108&_nc_ohc=XjlA9iRG0AcAX8k4woC&_nc_ht=scontent.fskg1-1.fna&oh=e298bfe8d2555347758530633f85f287&oe=5E9671C6" />
                        }
                        @for (int i = 0; i < Math.Floor(5 - item.overallRating); i++)
                        {
                            <img style="width:20px;height:20px" src="https://scontent.fskg1-1.fna.fbcdn.net/v/t1.15752-9/84226597_201990460845536_4426734302776000512_n.png?_nc_cat=110&_nc_ohc=4oQNDlYcLYQAX-2En4F&_nc_ht=scontent.fskg1-1.fna&oh=8e6e1ce04b2a52b7731f1df9348dfefd&oe=5ECEB88B" />
                        }


                    </td>
                </tr>
            }
        </tbody>
    </table>
    @section scripts{
        <script>

            $(document).on("ready", function () {
                $('#myTable').DataTable();
            });
        </script>
    }
</body>
</html>
